
#sprite {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  background: url("/Users/programming/Documents/wdi-immersive/week3/Movement/image/character.png") no-repeat;

}

  #sprite.front-right { background-position: 0px 0px; }
  #sprite.front-stand { background-position: -32px 0px; }
  #sprite.front-left { background-position: -64px 0px; }

  #sprite.left-right { background-position: 0px -32px; }
  #sprite.left-stand { background-position: -32px -32px; }
  #sprite.left-left { background-position: -64px -32px; }

  #sprite.right-right { background-position: -64px -64px; }
  #sprite.right-stand { background-position: -32px -64px; }
  #sprite.right-left { background-position: -0px -64px; }

  #sprite.back-right { background-position: 0px -96px; }
  #sprite.back-stand { background-position: -32px -96px; }
  #sprite.back-left { background-position: -64px -96px; }